
.assignmentCard:hover{
    background-color: greenyellow;
}

h1 {
    color: #1c1c1c;
    text-align: center;
    
  }
  
  h3 {
    color: #4caf50;
    text-align: center;
  }
  
  .create-btn {
    display: block;
  margin: 0 auto;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .create-btn:hover {
    background-color: #388e3c;
  }
  
  .assignmentsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .assignmentCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 
                0 1px 2px rgba(0, 0, 0, 0.24);
    width: 300px;
  }
  
  .edit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-btn:hover {
    background-color: #388e3c;
  }
  